page-authentication {
  ion-grid { margin-top: 128px; }
  
  ion-card {
    ion-card-content {
      padding: 13px !important;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
    }

    & ~ ion-card { margin-top: 13px; }
  }
}