<ion-header app-header></ion-header>

<ion-content>
  <ng-container *ngUnless="filtering">
    <ion-grid no-padding margin-x-x2 margin-top-x2>
      <ion-row no-padding align-items-center>
        <ion-col no-padding>
          <h2 no-margin line-height-7 weight-600>Followers</h2>

          <ion-text color="medium">
            <small>{{ followers.length || 0 }} followers</small>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row no-padding justify-content-start margin-top-x2 vertical-scroll>
        <ion-col size="auto" *ngFor="let user of followers" no-padding margin-right>
          <app-user-avatar [user]="user" size="medium"></app-user-avatar>
        </ion-col>
      </ion-row>

      <ion-row no-padding *ngIf="followers.length === 0">
        <ion-col no-padding text-align-center>
          <ion-text color="medium">
            <small>You have no followers</small>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding margin-x-x2 margin-top-x2>
      <ion-row no-padding align-items-center>
        <ion-col no-padding>
          <h2 no-margin line-height-7 weight-600>Following</h2>

          <ion-text color="medium">
            <small>{{ following.length || 0 }} following</small>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row no-padding justify-content-start margin-top-x2 vertical-scroll>
        <ion-col size="auto" *ngFor="let user of following" no-padding margin-right>
          <app-user-avatar [user]="user" size="medium"></app-user-avatar>
        </ion-col>
      </ion-row>

      <ion-row no-padding *ngIf="following.length === 0">
        <ion-col no-padding text-align-center>
          <ion-text color="medium">
            <small>You don't seem to be following anyone, yet</small>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ion-toolbar no-padding sticky sticky-top margin-y>
    <ion-searchbar padding-x-x2 animated="true" placeholder="Search Community" debounce="1500" (ionInput)="search($event)" (ionClear)="refresh()"></ion-searchbar>
  </ion-toolbar>

  <ion-text color="medium" flex justify-content-center text-align-center *ngIf="filtering && users.length === 0">
    <small>No users found matching your criteria.</small>
  </ion-text>

  <ion-card no-margin no-padding *ngFor="let user of users">
    <ion-card-content no-padding padding-bottom-x2 padding-x-x2>
      <ion-grid no-padding>
        <ion-row no-padding align-items-center>
          <ion-col no-padding>
            <app-user-avatar [user]="user" size="medium" showUsername="true">
              <em date>
                @{{ user.username }}

                <ion-badge color="medium" *ngIf="theyFollow(user)">
                  <small>Follows you</small>
                </ion-badge>
              </em>

              <ion-text body color="medium" *ngIf="user.bio">
                <p no-margin>{{ user.bio.truncate(50) }}</p>
              </ion-text>
            </app-user-avatar>
          </ion-col>

          <ion-col no-padding size="auto" *ngUnless="currentUser._id.$oid === user._id.$oid">
            <ion-button no-padding no-margin fill="clear" [color]="iFollow(user) ? 'warning' : currentUser.colour" (click)="decide(user)">
              <ion-icon slot="icon-only" [name]="iFollow(user) ? 'remove-circle' : 'add-circle-outline'"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="infiniteScroll.disabled">
    <ion-text color="medium" flex justify-content-center>
      <small no-margin padding padding-bottom-x2 text-align-center>
        You've reached the end of the line. <br />
        There are no more users here..
      </small>
    </ion-text>
  </ng-container>

  <ion-infinite-scroll (ionInfinite)="get(null, $event)">
    <small>
      <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Getting more users.."></ion-infinite-scroll-content>
    </small>
  </ion-infinite-scroll>
</ion-content>