form {
  background-color: var(--ion-color-gray-step-100);

  ion-button { }
}

p, small {
  display: block;
  text-align: center;
}

app-comment {
  display: block;
  margin-bottom: 8px;

  &:last-child { margin-bottom: 0; }
}

input[ion-input] {
  padding: 0;
  border: none;
  margin: 0;
  height: 100%;
  background-color: transparent;

  &::-webkit-input-placeholder {
    color: var(--ion-color-gray-step-550);
    font-style: italic;
  }
}