page-community {

  ion-header {
    background-color: none;
    background-image: url('');
  }

  .select-ios {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  
  .label-ios { margin: 0; }

  $blue:#2067C3;
  $green: #009989;
  $yellow: #FCCD10;
  $orange: #F85931;
  $red: #CE1836;
  $grey: #6F6F6F;

  .card-ios {
    &[alert] {
      border: none;
      box-shadow: none;
      p { color: $blue; }
    }

    &[color="blue"] {
      background-color: rgba(#d1ecf1, .5);
    }
  }

  .segment-ios-primary {
    .segment-button.segment-activated { color: #fff !important; }

    &.-colour-blue .segment-button {
      border-color: rgba($blue, 1);
      color: rgba($blue, 1);

      &.segment-activated { background-color: rgba($blue, 1); }
      &:hover:not(.segment-activated) { background-color: rgba($blue, 0.1); }
    }

    &.-colour-green .segment-button {
      border-color: rgba($green, 1);
      color: rgba($green, 1);

      &.segment-activated { background-color: rgba($green, 1); }
      &:hover:not(.segment-activated) { background-color: rgba($green, 0.1); }
    }

    &.-colour-yellow .segment-button {
      border-color: rgba($yellow, 1);
      color: rgba($yellow, 1);

      &.segment-activated { background-color: rgba($yellow, 1); }
      &:hover:not(.segment-activated) { background-color: rgba($yellow, 0.1); }
    }

    &.-colour-orange .segment-button {
      border-color: rgba($orange, 1);
      color: rgba($orange, 1);

      &.segment-activated { background-color: rgba($orange, 1); }
      &:hover:not(.segment-activated) { background-color: rgba($orange, 0.1); }
    }

    &.-colour-red .segment-button {
      border-color: rgba($red, 1);
      color: rgba($red, 1);

      &.segment-activated { background-color: rgba($red, 1); }
      &:hover:not(.segment-activated) { background-color: rgba($red, 0.1); }
    }

    &.-colour-grey .segment-button {
      border-color: rgba($grey, 1);
      color: rgba($grey, 1);

      &.segment-activated { background-color: rgba($grey, 1); }
      &:hover:not(.segment-activated) { background-color: rgba($grey, 0.1); }
    }
  }

  .button-outline-ios {
    &.activated { color: #fff !important; }

    &.-colour-blue {
      border-color: $blue;
      color: $blue;
  
      &.activated { background-color: $blue; }
    }

    &.-colour-green {
      border-color: $green;
      color: $green;
  
      &.activated { background-color: $green; }
    }

    &.-colour-yellow {
      border-color: $yellow;
      color: $yellow;
  
      &.activated { background-color: $yellow; }
    }

    &.-colour-orange {
      border-color: $orange;
      color: $orange;
  
      &.activated { background-color: $orange; }
    }

    &.-colour-red {
      border-color: $red;
      color: $red;
  
      &.activated { background-color: $red; }
    }

    &.-colour-grey {
      border-color: $grey;
      color: $grey;
  
      &.activated { background-color: $grey; }
    }
  }

  .toolbar {
    &-ios {
      padding: 13px;
      padding-top: 0;
      background-color: #fbfbfb;
    }

    &-content {
      .button-ios { padding: 13px; }
      .segment-button { height: 29px; }
    }
  }

  .searchbar-ios { min-height: auto; }
}
