page-community {
  .card-ios {
    &[alert] {
      border: none;
      box-shadow: none;

      p { color: color(blue); }
    }

    &[color="blue"] { background-color: rgba(color(blue), .5); }
  }
}
