<ion-header transparent>
  <ion-toolbar transparent>
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col col-auto>
          <ion-label>
            <button class="main-button" ion-button small icon block outline color="white" (tap)="app.openSideMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-label>
        </ion-col>
        
        <ion-col col>
          <ion-searchbar no-padding-right [(ngModel)]="tag" (ionFocus)="app.showTags()" (ionCancel)="app.setTag(null)" (showCancelButton)="true"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingText="Pull to load new Posts" refreshingText="Loading new Posts.."></ion-refresher-content>
  </ion-refresher>
  
  <ion-card post post-container *ngIf="user && (!tag && feed === 'community' || feed === 'feed')" (click)="newPost()" no-margin-bottom>
    <ion-card-header no-padding-top no-padding-bottom>
      <ion-item no-padding>
        <user-avatar item-start [user]="user" size="small"></user-avatar>
        <p>What's new?</p>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-grid no-padding>
    <ion-row justify-content-center margin-top *ngIf="showLoadingIndicator || postsChanged">
      <ion-col col-auto>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="tag" margin-left margin-top>
      <ion-col>
        <h3 no-margin>{{ tag }}</h3>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="feed && feed != 'community' && feed != 'feed'" margin-left margin-top>
      <ion-col>
        <h3 no-margin>{{ feed === 'tags' ? 'Trending' : 'Likes' }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card alert color="blue" *ngIf="newPostsCounter > 0" (tap)="refresh()">
    <ion-card-content>
      <p no-margin text-center>There {{ newPostsCounter > 1 ? 'are' : 'is' }} <strong>{{ newPostsCounter }}</strong> new post{{ newPostsCounter > 1 ? 's' : '' }}</p>
    </ion-card-content>
  </ion-card>

  <post *ngFor="let post of posts" [post]="post" [author]="post?.user" [user]="user"></post>
</ion-content>
