<ion-header>
  <ion-navbar>
    <ion-title>Community</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="feed" (ionChange)="feedChanged($event)" color="primary" ngClass="-colour-{{ user?.colour }}">
    <ion-segment-button value="community">
      <!-- <ion-icon name="paper"></ion-icon> -->
      News Feed
    </ion-segment-button>

    <ion-segment-button value="trending">
      <!-- <ion-icon name="list"></ion-icon> -->
      Trending
    </ion-segment-button>

    <ion-segment-button value="likes">
      <!-- <ion-icon name="heart"></ion-icon> -->
      Likes
    </ion-segment-button>

    <ion-segment-button value="hashtag">
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [ngSwitch]="feed">
  <ion-grid no-padding *ngSwitchCase="'community'">
    <ion-row *ngUnless="tag" justify-content-center>
      <ion-col col-auto>
        <button ion-button round medium outline (tap)="newPost()" ngClass="-colour-{{ user?.colour }}">
          What's new?
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner *ngIf="showLoadingIndicator || postsChanged"></ion-spinner>

  <post *ngFor="let post of posts" [post]="post" [author]="post?.user" [user]="user"></post>
</ion-content>
