<ion-header app-header></ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="dismiss($event)">
    <ion-refresher-content pullingIcon="close" pullingText="" refreshingSpinner="" refreshingText=""></ion-refresher-content>
  </ion-refresher>
  
  <ion-toolbar no-padding>
    <div flex align-items-center padding-x2>
      <app-user-avatar [user]="user" size="medium" showUsername="true"></app-user-avatar>

      <app-like *ngUnless="user._id.$oid === post.user_id.$oid" [likeable]="post" [user]="user" size="medium" (decided)="onLikeableDecision($event)" margin-right></app-like>

      <ion-button no-margin margin-right no-padding size="small" fill="clear" *ngIf="user._id.$oid === post.user_id.$oid" (click)="showPostOptions()">
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>

      <p post-date margin-left>
        <span>{{ day(post.created_at) }}</span>
        <span>{{ month(post.created_at) }}</span>
      </p>
    </div>
  </ion-toolbar>

  <ion-img *ngIf="post.image_url" [src]="post.image_url" margin-bottom></ion-img>

  <app-mention *ngIf="post.title" [body]="post.title"></app-mention>
  <app-mention [body]="post.body" flex margin-x2 no-margin-top padding></app-mention>

  <ion-grid no-padding padding-x-x2>
    <ion-row no-padding>
      <ion-col no-padding>
        <h5 no-margin line-height-7 weight-500>{{ comments.length }} Comments</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="medium" *ngIf="post.comments_count === 0">
    <small flex text-align-center justify-content-center padding-y-x2 padding-x no-margin>
      This post is missing your voice!
      <br />
      Why not be the first to join this discussion?
    </small>
  </ion-text>

  <div padding-x2 no-padding-top *ngIf="comments.length > 0">
    <app-comment *ngFor="let comment of comments" [comment]="comment" [user]="user"></app-comment>
  </div>
</ion-content>

<ion-footer>
  <app-comment-form [post]="post" (commented)="refreshComments($event)"></app-comment-form>
</ion-footer>