<ion-header app-header></ion-header>

<ion-content>
  <ion-toolbar no-padding padding-y-x2 padding-left-x2 padding-x>
    <ion-grid no-padding>
      <ion-row no-padding align-items-center>
        <ion-col no-padding>
          <h2 no-margin line-height-7 weight-600>Notifications</h2>

          <ion-text color="medium" line-height-7>
            <small>{{ notifications.length || 0 }} notifications</small>
          </ion-text>
        </ion-col>

        <ion-col no-padding size="auto" *ngIf="notifications.length > 0" (click)="confirm()">
          <ion-button no-margin no-padding fill="clear" [color]="user.colour">
            <ion-icon name="done-all" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-refresher slot="fixed" (ionRefresh)="get($event)">
    <ion-refresher-content pullingIcon="" pullingText="" refreshingSpinner="dots" refreshingText=""></ion-refresher-content>
  </ion-refresher>

  <ion-text color="medium" flex justify-content-center text-align-center *ngIf="notifications.length === 0">
    <small>You have no Notifications</small>
  </ion-text>

  <ion-card no-margin no-padding *ngFor="let notification of notifications" (click)="getAndViewObject($event, notification)">
    <ion-card-content no-padding padding-bottom-x2 padding-x-x2>
      <app-user-avatar [user]="notification.trigger" size="medium" hasOwnListener="true" showUsername="true" subHeader="">
        <ion-text title no-margin weight-300>
          <ng-container *ngIf="notification.type === 'post_like'">
            liked your post
            "<em no-margin weight-500>{{ notification.object_with_usernames.body.truncate(35) }}</em>"
          </ng-container>

          <ng-container *ngIf="notification.type === 'comment_like'">
            liked your comment
            "<em no-margin weight-500>{{ notification.object_with_usernames.body.truncate(35) }}</em>"
          </ng-container>

          <ng-container *ngIf="notification.type === 'follower'">is now following you</ng-container>
          <ng-container *ngIf="notification.type === 'comment'">mentioned you in a comment</ng-container>
          <ng-container *ngIf="notification.type === 'post'">mentioned you in a post</ng-container>
        </ion-text>

        <em date>{{ timeAgoInWords(notification.created_at) }}</em>
      </app-user-avatar>

      <!-- <ng-container *ngUnless="imMentioned(notification)">
        said in a <strong>comment</strong>:
      </ng-container> -->
      <!-- "{{ notification.object_with_usernames.body }}" -->
      <!-- <ng-container *ngIf="myPost(notification)">
        on your post
      </ng-container> -->

    </ion-card-content>
  </ion-card>
</ion-content>
