<ion-header>
  <ion-navbar>
    <ion-title>{{ user ? user.name : 'Profile' }}</ion-title>

    <ion-buttons end>
      <button ion-button icon (tap)="editProfile()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="user">
    <img class="background-image" [src]="user.profile_banner_url" (press)="showImageOptions('background')" />

    <ion-grid no-padding margin-bottom user-grid>
      <ion-row>
        <ion-col></ion-col>
        
        <ion-col col-3>
          <user-avatar [user]="user" (press)="showImageOptions('avatar')"></user-avatar>
        </ion-col>

        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <div padding>
            <h2 class="name-column" no-margin>{{ user.name }}</h2>
            <p class="tag" no-margin>@{{ user.username }}</p>
          </div>

          <p class="bio" no-margin padding-left padding-right>{{ user.bio }}</p>
        </ion-col>
      </ion-row>

      <ion-row margin-top margin-bottom>
        <ion-col col-4 text-center (tap)="viewUserFollowing(user.uuid, user.following_ids)">
          <h6>Following</h6>
          
          <ion-card user-stat-card>
            <ion-card-content>
              <p>{{ user.following_ids.length }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-4 text-center (tap)="viewUserFollowers(user.uuid, user.follower_ids)">
          <h6>Followers</h6>
          
          <ion-card user-stat-card>
            <ion-card-content>
              <p>{{ user.follower_ids.length }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-4 text-center (tap)="viewUserLikes(user.uuid, user.likes)">
          <h6>Likes</h6>
          
          <ion-card user-stat-card>
            <ion-card-content>
              <p>{{ user.likes.length }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <h3 text-center no-margin>Interests</h3>

      <ion-row user-interests ngClass="colour--{{ user.colour }}" padding margin-top margin-bottom>
        <ion-col col-auto *ngFor="let interest of user.interests">
          <button *ngUnless="interest === ''" ion-button small square color="light">
            {{ interest }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3 text-center no-margin>Recent Posts</h3>

    <post *ngFor="let post of posts" [post]="post" [user]="user"></post>
  </ng-container>
</ion-content>
