<ion-header *ngUnless="viewCtrl.isOverlay">
  <ion-toolbar transparent>
    <ion-grid no-padding >
      <ion-row align-items-center>
        <ion-col col-auto>
          <ion-label>
            <button ion-button small icon block outline color="white" (tap)="app.openSideMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-label>
        </ion-col>
        
        <ion-col col>
          <ion-searchbar no-padding-right [(ngModel)]="tag" (ionFocus)="app.showTags()" (ionCancel)="app.setTag(null)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="user">
    <div class="user-background" (press)="showImageOptions('background')">
      <img *ngIf="user.profile_banner_url" [src]="user.profile_banner_url" />
      <span *ngUnless="user.profile_banner_url" class="-color-{{ user.colour }}"></span>
    </div>

    <ion-grid no-padding margin-bottom user-grid>
      <ion-row>
        <ion-col padding-left-2>
          <button *ngIf="viewCtrl.isOverlay" ion-button small round color="danger" (tap)="dismissView()">
            <i class="far fa-times-circle" margin-right-2></i>
            Close
          </button>
        </ion-col>

        <ion-col col-auto>
          <user-avatar [user]="user" (press)="showImageOptions('avatar')"></user-avatar>
        </ion-col>

        <ion-col justify-content-end padding-right-2>
          <button *ngIf="currentUser === user" ion-button small round (tap)="edit()">
            <i class="fal fa-cog" margin-right-2></i>
            Edit profile
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <div padding>
            <h2 class="name-column" no-margin>{{ user.name }}</h2>
            <p class="tag" no-margin>@{{ user.username }}</p>
          </div>

          <p class="bio" no-margin padding-left padding-right>{{ user.bio }}</p>
        </ion-col>
      </ion-row>

      <ion-row margin-top margin-bottom>
        <ion-col col-4 text-center (tap)="viewCommunity('following', user._id.$oid, user.following_ids)">
          <h6>Following</h6>
          
          <ion-card user-stat-card>
            <ion-card-content>
              <p>{{ user.following_ids.length }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-4 text-center (tap)="viewCommunity('followers', user._id.$oid, user.follower_ids)">
          <h6>Followers</h6>
          
          <ion-card user-stat-card>
            <ion-card-content>
              <p>{{ user.follower_ids.length }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-4 text-center (tap)="viewLikes(user._id.$oid)">
          <h6>Likes</h6>
          
          <ion-card user-stat-card>
            <ion-card-content>
              <p>{{ user.likes.length }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <h3 text-center no-margin>Interests</h3>

      <ion-row user-interests ngClass="-color-{{ user.colour }}" justify-content-center padding margin-top margin-bottom>
        <ion-col col-auto *ngFor="let interest of user.interests">
          <button *ngUnless="interest === ''" ion-button small square color="light" (tap)="viewPosts(interest)">
            {{ interest }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3 text-center no-margin>Recent Posts</h3>

    <post *ngFor="let post of posts" [post]="post" [author]="user" [user]="currentUser"></post>
  </ng-container>
</ion-content>
