ion-tab-bar {
  padding: 32px 0 0 0;
}

ion-tab-button {
  // padding: 16px;

  :root {
    --padding-end: 0;
    --padding-start: 0;
  }

  ion-img {
    border-radius: 250px;
    width: 35px;
    height: 35px;
  }

  &:last-child {
    flex: 0 1 auto;
    // padding: 16px;
  }
}