<ion-tabs [ngStyle]="{ 'background-color': user?.colour }">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="albums"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon name="contacts"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button user-tab>
      <ion-spinner *ngUnless="user" name="dots"></ion-spinner>
      <app-user-avatar *ngIf="user" [user]="user" size="medium" hasOwnListener="true" (listener)="showUserActionSheet()"></app-user-avatar>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
