<ion-content>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon color="danger" (tap)="dismissView()">
        <i class="fal fa-times-circle" color="red"></i>
      </button>
    </ion-buttons>

    <ion-searchbar #searchBar [(ngModel)]="tag" [formControl]="searchControl" (ionInput)="search($event)" (ionCancel)="dismissView()"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let tag of tags" (tap)="dismissView(tag.display_text)">
      {{ tag.display_text }}
    </ion-item>
  </ion-list>

  <p *ngIf="tags && tags.length === 0" text-center size-medium>
    There are no #hashtags found, but you can still search for

    <a (tap)="dismissView(searchControl.value)">
      {{ searchControl.value }}
    </a>
  </p>
</ion-content>
