<!-- <ion-content>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon color="danger" (tap)="dismissView()">
        <i class="fal fa-times-circle" color="red"></i>
      </button>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="tag" [formControl]="searchControl" (ionInput)="searchTags($event)" (ionCancel)="dismissView()"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let tag of tags" (tap)="dismissView(tag.display_text.replace('#', ''))">
      {{ tag.display_text }}
    </ion-item>
  </ion-list>

  <p *ngIf="noResultsQuery" text-center size-medium>They are no #hashtags found, but you can still search for {{ searchControl.value }}</p>
</ion-content> -->
