ion-card[user-card] {
  display: flex;
  flex-direction: column;

  /* Reset Default */

  margin: 0 0 16px 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;

  /* Reset Default */

  ion-card-header { padding: 16px; }

  ion-card-content {
    border-top: 1px solid var(--ion-color-gray-step-150);
    padding: 0;
  }
}