page-post-form {

  /* The mention / hasthag container */

  ion-card[preview] ion-card-content {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.25rem  !important;

    .preview-description { font-size: small; }
  }

  .post-form--query {
    max-height: calc(44px * 4);
    overflow-y: scroll;

    ion-list { margin-bottom: 0; }
  }

  /* The actual form container and all of its contents */
  
  ion-card.card {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
    
    .card-header {
      padding: 0 !important;
      margin-bottom: -35px;
      z-index: 100;
      position: relative;
    }

    [ion-card-content] {
      position: relative;
      padding: 1.25rem !important;
      padding-top: calc(0.25rem + 35px) !important;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem  !important;
      text-align: center;

      img {
        margin-top: -48px;
        margin-left: -16px;
        margin-right: -16px;
        max-width: inherit;
        width: calc(100% + 32px);
        max-height: 150px;
        object-fit: cover;
      }

      &:not(.-color-white) {
        transform: transition(all .3 ease-in);

        .post-form--types { justify-content: center; }
        .text-input-ios {
          border: none;
          border-radius: 0;
          text-align: center;
          color: #fff;
          font-weight: bold;
          font-size: 1.2em;

          &::-webkit-input-placeholder { color: #fff; }
        }
      }

      .color-selection {
        display: flex;
        width: ui(spacing) * 2; 
        height: ui(spacing) * 2; 
        border-radius: 6px;
        margin-right: ui(spacing) / 2;
        
        &.selected:not(.-color-white) { margin-top: -3px; }
      }

      @each $color in $sixideas-posts {
        &.-color-#{ $color },
        &.-color-#{ $color } .input { background-color: rgba(color($color, $from: 'post'), 1); }
        
        .color-selection.-color-#{ $color } {
          background-color: rgba(color($color, $from: 'post'), 1);
          
          &.selected {
            @if ($color == white) {
              border: 1px solid color(gray);
            } @else {
              box-shadow: 0 0 4px 2px rgba(darken(color($color, $from: 'post'), 8%), 1);
            }
          }
        }
      }
    }

    .item-ios {
      padding-left: 0;

      .item-inner { padding-right: 0 !important; }
    }

    .label-ios {
      margin: ui(spacing) 0 !important;
      padding: 0;
    }

    .text-input-ios {
      border: 1px solid #dee2e6;
      margin: 0 !important;
      width: 100% !important;
      padding: .8rem 1rem;
      border-radius: 0.25rem;
      color: #6c757d;
    }
  }
}
