user-avatar {
  .container {
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    display: flex;

    @extend .-size-medium;

    img.avatar {
      height: 100%;
      border-radius: 100%;
      border: 3px solid transparent;
      max-width: auto; /* Overwrite Ionic's defaults */
    }

    p.initials {
      color: #fff;
      font-size: 30px;
      font-family: Helvetica, Arial, sans-serif;
    }

    &.-color {
      @each $color in $colors {
        &-#{ $color } {
          border-color: color($color);
          background-color: color($color);
        }
      }
    }

    &.-size {
      $small: 35px;
      $medium: 70px;
      $big: 90px;

      &-small {
        height: $small;
        width: $small;

        img.avatar { border-width: 2px; }
        p.initials { font-size: 10px; }
      }

      &-medium {
        height: $medium;
        width: $medium;
      }
    }

    .-state {
      width: 20%;
      height: 20%;
      border-radius: 100%;
      position: absolute;
      top: 6%;
      right: 6%;

      &-online { background-color: green; }
      &-offline { background-color: red; }
      &-away { background-color: yellow; }
    }
  }
}