<ion-menu *ngIf="user" [content]="content" class="-color-{{ user?.colour || 'grey' }}">
  <ion-content>
    <div class="column">
      <div class="column-cell -auto">
        <button menuClose *ngFor="let page of appPages" (tap)="openPage(page.component)">
          <i class="fal fa-{{ page.icon }}"></i>
          {{ page.title }}
        </button>
      </div>

      <div class="column-cell">
        <div class="divider">Interests</div>

        <div class="user-interests">
          <button menuClose *ngFor="let tag of user.interests" (tap)="openPage('CommunityPage', tag)">
            #{{ tag }}
          </button>
        </div>
      </div>

      <div class="column-cell -auto">
        <div class="divider">Consultancy</div>
    
        <button menuClose *ngFor="let page of staticPages" (tap)="openPage(page.url)">
          {{ page.title }}
        </button>
      </div>

      <div class="column-cell -auto">
        <button menuClose (tap)="logout()" margin-top-2>
          <ion-icon name="log-out"></ion-icon>
          Sign out
        </button>
      </div>
    </div>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" main swipeBackEnabled="false"></ion-nav>
