// http://ionicframework.com/docs/theming/

$sixideas-palette: (white, blue, green, yellow, orange, red, grey);
$sixideas-posts: (white, blue, green, yellow, red);

$spacing: 13px;

$config: (
	white: (
		base: #fff,
		post: #fff
	),
	blue: (
		base: #2067C3,
		post: #007bff
	),
	green: (
		base: #009989,
		post: #28a745
	),
	yellow: (
		base: #FCCD10,
		post: #ffc107
	),
	orange: (
		base: #F85931
	),
	red: (
		base: #CE1836,
		post: #dc3545
	),
	grey: (
		base: #6F6F6F,
		light: lighten(#6F6F6F, 50%),
		lighter: lighten(#6F6F6F, 75%)
    )
);

@function color($key, $from: 'base') {
  @return map-get(map-get($config, $key), $from);
}

@function ui($key) {
  @return $spacing;
}

@import "../theme/helpers/grid";
@import "../theme/helpers/margin";
@import "../theme/helpers/padding";
@import "../theme/helpers/colors";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

[full] { width: 100% !important; }

p[size-small],
i[size-small] { font-size: .6em; }

p[size-tiny],
i[size-tiny] { font-size: .4em; }

button[round] {
	padding-left: $spacing;
	padding-right: $spacing;

	&[icon] {
		padding-right: $spacing / 2 !important;	
	}
}

.main-button {
	padding: 18px !important;
}

p[badge] {
	background-color: color(gray);
	border-radius: 250px;
	color: #fff;
	padding: 2px 6px;
}

ng-component.app-root {

	.toolbar {
		padding: 0 $spacing $spacing;

		.label-ios { margin: 0; }

		&[transparent] .toolbar-background {
			background-image: url('../assets/imgs/background.png') !important;
			background-size: cover;
			background-position: center center;
		}
	
		&-content {
			.button-ios { padding: $spacing; }

	  	.searchbar-ios { min-height: auto; }
			.searchbar-search-icon { fill: #fff !important; }
			.searchbar-input::-webkit-input-placeholder { color: #fff; }
			.searchbar-input-container {
				background-color: rgba(color(white), .5);
				border-radius: 3px;
			}
		}
	}

	.user-interests {
		width: 100%;
		max-height: calc(30.31px * 4 + (30.31px / 2));
		overflow-y: scroll;
		position: relative;
		height: auto;
	}

	/*

		Overwrite Ionic's default side-menu style.
		Usage of !important is required where traversing the DOM is necessary in order
		to overwrite the styles.

	*/

	ion-menu {
		&.-color {
			@each $color in $sixideas-palette {
				&-#{ $color } {
					background-color: color($color);

					button:not(.button):hover { border-color: darken(color($color), 20%); }
					.divider { color: darken(color($color), 20%); }
				}
			}
		}

		.user {
			img.avatar,
			p.initials {
				width: 40px;
				height: 40px;
				border-radius: 100%;
			}

			img.avatar {
				height: 100%;
				max-width: auto; /* Overwrite Ionic's defaults */
				vertical-align: middle;
			}
	
			p.initials {
				font-size: 15px;
				font-weight: bold;
				font-family: Helvetica, Arial, sans-serif;
				background-color: #fff;
				color: #000;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.username {
				color: #fff;
				font-size: 15px;
			}
		}
	
		.scroll-content {
			margin: 0;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			text-align: left;

			@extend .row;
		}
		
		.menu-inner,
		ion-content { background-color: transparent !important; }

		.fixed-content,
		.scroll-content {
			margin-bottom: 0 !important;
			background-color: transparent !important;
		}

		.scroll-content {
			padding: ($spacing * 6) 0 !important;
		}

		&.show-menu {
			.menu-inner {
				transform: none;
				transition: all 130ms ease-in;
			}
		}

		.menu-inner {
			position: relative;
			width: 247px;

			> ion-content { position: inherit; }
		}

		button:not(.button) {
			display: flex;
			flex: 1;
			padding: ($spacing / 1.5) ($spacing * 1.5);
			font-size: 1.3em;
			font-weight: 400;
			color: #fff;
			align-items: center;
			background-color: transparent;
			width: 100%;

			&:hover {
				color: #fff;
				border-left: 3px solid transparent;
				background-color: rgba(255, 255, 255, .2);
			}

			ion-icon, .fal {
				margin-right: calc(#{ $spacing } / 2);
			}
		}

		.divider {
			font-size: .8em;
			font-weight: 600;
			padding: $spacing;
		}
	}

	ion-nav {
		// transform: none !important;
		// transition: transform 150ms ease-out !important;

		&.menu-content-open {
			// transform: translate3d(200px, 0, 0) scale(.75) !important;
			// transform: scale(.75) !important;
			// transition: transform 200ms ease-in !important;
			// box-shadow: -10px 0 35px 10px rgba(black, .3) !important;
			// will-change: transform;
		}
	}
}
