[margin-left]   { margin-left: ui(spacing) !important; }
[margin-right]  { margin-right: ui(spacing) !important; }
[margin-top]    { margin-top: ui(spacing) !important; }
[margin-bottom] { margin-bottom: ui(spacing) !important; }

[margin-left-2]    { margin-left: ui(spacing) / 2 !important; }
[margin-right-2]   { margin-right: ui(spacing) / 2 !important; }
[margin-top-2]     { margin-top: ui(spacing) / 2 !important; }
[margin-bottom-2]  { margin-bottom: ui(spacing) / 2 !important; }

[no-margin] { margin: 0 !important; }
[no-margin-right] { margin-right: 0 !important; }
[no-margin-left] { margin-left: 0 !important; }
[no-margin-top] { margin-top: 0 !important; }
[no-margin-bottom] { margin-bottom: 0 !important; }