<ion-grid no-padding (click)="view($event)">
  <ion-row no-padding align-items-center>
    <ion-col no-padding size="auto">
      <ion-avatar *ngIf="user" class="-size-{{ size }} -color-{{ user.colour }}">
        <span class="-appearance -appearance-{{ appearance }}"></span>
        <img *ngIf="user.avatar_url" [src]="sanitize(user.avatar_url)">
        <p *ngIf="!user.avatar_url">{{ user.initials }}</p>
      </ion-avatar>
    </ion-col>

    <ion-col line-height-reset user-username no-padding *ngIf="showUsername" margin-left class="-size-{{ size }}">
      <ion-text [color]="color">
        <h6 no-margin>
          {{ user.username }}

          <ng-content select="[title]"></ng-content>
        </h6>
      </ion-text>

      <!-- <ion-text flex margin-top-2 [color]="color" *ngIf="subHeader"> -->
      <ion-text flex margin-top-2 color="medium">
        <small>
          <em>
            <ng-content select="[date]"></ng-content>
          </em>
        </small>
      </ion-text>
    </ion-col>
  </ion-row>

  <ng-content select="[body]"></ng-content>
</ion-grid>