
<ion-header app-header></ion-header>

<ion-content ngClass="-color-red" *ngIf="user">
  <ion-toolbar no-padding padding-x2>
    <ion-button slot="start" no-margin no-padding size="small" fill="clear" (click)="dismiss()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button slot="end" [disabled]="!form.valid" no-margin no-padding margin-right-2 fill="clear" size="small" (click)="submit()">
      Change
    </ion-button>
  </ion-toolbar>

  <app-user-avatar *ngIf="user" [user]="user" size="large" hasOwnListener="true">
    <ion-spinner *ngIf="processingImage && caller === 'avatar'"></ion-spinner>
  </app-user-avatar>

  <ion-text text-center color="medium">
    <h3 no-margin>{{ user.forename }} {{ user.surname }}</h3>
    <small>Lets edit your profile</small>
  </ion-text>

  <form [formGroup]="form" *ngIf="form" margin-x2>
    <div margin-bottom>
      <ion-label no-margin position="floating">First Name</ion-label>
      <ion-input formControlName="forename" placeholder=""></ion-input>
    </div>

    <div margin-bottom>
      <ion-label no-margin position="floating">Surname</ion-label>
      <ion-input formControlName="surname" placeholder=""></ion-input>
    </div>

    <div margin-bottom>
      <ion-label no-margin position="floating">Username</ion-label>
      <ion-input formControlName="username" placeholder="Username"></ion-input>
    </div>

    <div margin-bottom>
      <ion-label no-margin position="floating">Email Address</ion-label>
      <ion-input type="email" formControlName="email" placeholder=""></ion-input>
    </div>

    <div margin-bottom>
      <ion-label no-margin position="floating">Interests</ion-label>
      <ion-select formControlName="interests" multiple="true">
        <ion-select-option *ngFor="let interest of interests" [value]="interest">{{ interest }}</ion-select-option>
      </ion-select>
    </div>

    <div textarea>
      <ion-label no-margin position="floating">Bio</ion-label>
      <ion-textarea formControlName="bio" placeholder=""></ion-textarea>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-grid margin margin-x2 no-padding>
    <ion-row no-padding justify-content-between>
      <ion-col size="auto" color-menu *ngFor="let color of colors | keyvalue" no-padding>
        <!-- ngClass="{{ form.controls.type.value === color ? 'selected' : '' }}" -->
        <span ngClass="-color-{{ color.key }}" (click)="changeType(color.value)"></span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div ion-footer-actions flex justify-content-center>
    <ion-button color="primary" [disabled]="form.controls.type.value != 'light'" color="secondary" fill="clear" no-margin (click)="captureImage('CAMERA')">
      <ion-icon name="albums" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button color="primary" [disabled]="form.controls.type.value != 'light'" color="primary" fill="clear" no-margin (click)="captureImage('GALLERY')">
      <ion-icon name="contact" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</ion-footer>