comments {
  [comments-loader] { height: 20px; }

  [comment-container].card-ios {
    box-shadow: none;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    margin: 0;
    width: 100%;
  }

  [comment-form] {
    .item-ios {
      margin: 0;
      padding: 0;
    }

    .button-ios { margin: 0; }
  }

  [comment-form-input] {
    .text-input-ios {
      border: 1px solid #dee2e6;
      margin: 0;
      width: 100%;
      padding: .8rem 1rem;
      border-radius: 0.25rem;
      color: #6c757d;
    }
  }

  [comment-form-button] {
    margin-top: 3px !important;
    height: 38px;
    
    .button-inner { padding: 0 13px; }
  }

  [comment-form-loader] {
    height: 13px;
    width: 13px;
  }
}
