<ion-grid no-padding>
  <ion-row justify-content-center *ngIf="comments && comments.length === 0 && !form">
    <ion-col col-auto>
      <ion-spinner comments-loader></ion-spinner>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="comments && comments.length > 0">
    <ion-row *ngFor="let comment of comments.slice(0, limit)" align-items-start>
      <ion-col col-auto (tap)="viewUserProfile(comment.user._id.$oid)">
        <user-avatar [user]="comment.user" size="small"></user-avatar>
      </ion-col>

      <ion-col margin-left-2>
        <ion-card comment-container>
          <ion-card-content comment-content>
            <like class="comment" [likeable]="comment" [author]="author" [user]="user"></like>
            <mention [body]="comment.body" editable=true></mention>
          </ion-card-content>
        </ion-card>

        <preview [body]="comment.body"></preview>
      </ion-col>
    </ion-row>
  </ng-container>

  <ion-row *ngIf="comments.length > (limit - 1) && limit != comments.length" (tap)="viewAll()">
    <ion-col text-center>
      <p color="blue" no-margin>View {{ comments.length - 1 }} more comment{{ comments.length > 2 ? 's' : '' }}</p>
    </ion-col>
  </ion-row>

  <form ion-row align-items-center no-padding [formGroup]="form" *ngIf="form" comment-form>
    <ion-col col-auto>
      <user-avatar [user]="user" size="small"></user-avatar>
    </ion-col>

    <ion-col margin-left-2>
      <ion-item>
        <ion-input class="mentionable" comment-form-input formControlName="body" placeholder="Write a comment" (ionChange)="checkContent($event)" (keyup)="checkContent($event)"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col col-auto align-self-stretch>
      <button comment-form-button ion-button color="primary" small outline icon icon-only [disabled]="!form.valid" (click)="submit()">
        <ion-spinner *ngIf="processingComment" comment-form-loader></ion-spinner>
        <i class="fal fa-paper-plane" *ngUnless="processingComment"></i>
      </button>
    </ion-col>
  </form>
</ion-grid>

<ion-list *ngIf="query" class="post-form--query">
  <ng-container *ngIf="users">
    <ion-item *ngFor="let user of users" (click)="replaceText(user.username)">
      <p>@{{ user.username }}</p>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="tags">
    <ion-item *ngFor="let tag of tags" (click)="replaceText(tag.display_text)">
      <p>{{ tag.display_text }}</p>
    </ion-item>
  </ng-container>
</ion-list>