<ion-card post-container>
  <ion-card-header>
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col margin-right_2 (tap)="viewProfile(author._id.$oid)">

          <ion-grid no-padding>
            <ion-row align-items-center>
              <ion-col col-auto>
                <user-avatar [user]="author" size="small"></user-avatar>
              </ion-col>
      
              <ion-col margin-left_2>
                <h2 no-margin>{{ author.name }}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-col>

        <ion-col col-auto>
          <ion-grid no-padding>
            <ion-row align-items-center>
              <ng-container *ngIf="user._id.$oid === author._id.$oid">
                <button ion-button clear small (tap)="editPost()">Edit</button>
              </ng-container>
    
              <like class="post" [likeable]="post" [user]="author" size="large"></like>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content post-content [ngClass]="post.type">
    <ng-container *ngIf="post.type === 'default'">
      <img *ngIf="post.image_url" [src]="post.image_url" />

      <mention *ngIf="post.title" [body]="post.title" class="post-title"></mention>
    </ng-container>

    <mention [body]="post.body" [class]="post.type"></mention>
  </ion-card-content>

  <div class="ion-card-footer">
    <comments [post]="post" [author]="author" [user]="user"></comments>
  </div>
</ion-card>
