<ion-card post-light *ngIf="post && post.type === 'light'">
  <ion-card-header align-items-center>
    <app-user-avatar [user]="author" size="medium" showUsername="true"></app-user-avatar>

    <ion-button no-margin margin-right no-padding size="small" fill="clear" *ngIf="user._id.$oid === post.user_id.$oid" (click)="showPostOptions()">
      <ion-icon name="cog" slot="icon-only"></ion-icon>
    </ion-button>

    <app-like *ngUnless="user._id.$oid === post.user_id.$oid" [likeable]="post" [user]="user" size="medium" (decided)="onLikeableDecision($event)" margin-right></app-like>

    <p post-date margin-left>
      <span>{{ day(post.created_at) }}</span>
      <span>{{ month(post.created_at) }}</span>
    </p>
  </ion-card-header>

  <ion-card-content no-padding>
    <ion-img *ngIf="post.image_url" [src]="post.image_url"></ion-img>

    <div post-body margin margin-bottom-x2>
      <!-- Body -->
      <ion-card-title *ngIf="post.title">
        <app-mention [body]="post.title"></app-mention>
      </ion-card-title>

      <app-mention [body]="post.body.truncate(100)"></app-mention>

      <!-- Meta -->
      <ion-grid post-actions no-padding>
        <ion-row no-padding align-items-center>
          <ion-col no-padding size="auto">
            <ion-chip no-margin margin-left-x2 outline="true" color="secondary" (click)="view()">
              <ion-icon name="chatbubbles"></ion-icon>
              <ion-label>
                <strong>{{ post.comments_count }}</strong>
              </ion-label>
            </ion-chip>
          </ion-col>

          <ion-col no-padding size="auto">
            <ion-chip no-margin margin-left-x2 outline="true" color="tertiary">
              <ion-icon name="heart-half"></ion-icon>
              <ion-label>
                <strong>{{ likes }}</strong>
              </ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>

  <div ion-card-footer>
    <app-comment-form [post]="post" (commented)="refreshComments($event)"></app-comment-form>

    <ion-text color="medium" *ngIf="post.comments_count === 0">
      <small padding-y-x2 padding-x no-margin>This post is missing your voice!<br />Why not be the first to join this discussion?</small>
    </ion-text>

    <div padding no-padding-top *ngIf="comments.length > 0">
      <app-comment *ngFor="let comment of comments" [comment]="comment" [user]="user"></app-comment>
    </div>

    <ion-text color="primary">
      <p no-margin padding padding-bottom-x2 *ngIf="post.comments_count > 3" (click)="view()">
        View {{ post.comments_count - 3 }} more comment{{ post.comments_count > 2 ? 's' : '' }}
      </p>
    </ion-text>
  </div>
</ion-card>

<ion-card padding-x3 post-featured *ngUnless="post && post.type === 'light'" ngClass="-color-{{ post.type }}">
  <ion-card-header flex no-padding>
    <ion-chip no-margin outline="true" color="light">
      <ion-icon color="light" name="chatbubbles"></ion-icon>
      <ion-label color="light">
        <strong>{{ post.comments_count }}</strong>
      </ion-label>
    </ion-chip>

    <ion-chip no-margin margin-left outline="true" color="light">
      <ion-icon color="light" name="heart-half"></ion-icon>
      <ion-label color="light">
        <strong>{{ likes }}</strong>
      </ion-label>
    </ion-chip>
  </ion-card-header>

  <ion-card-content no-padding margin-y-x3>
    <ion-text color="light">
      <app-mention [body]="post.body.truncate(100)"></app-mention>
    </ion-text>
  </ion-card-content>

  <div ion-card-footer>
    <ion-grid no-padding>
      <ion-row no-padding align-items-center>
        <ion-col no-padding>
          <app-user-avatar [user]="author" size="medium" color="light" showUsername="true" [subHeader]="">
            <ion-text color="light" date>
              <em>{{ timeAgoInWords(post.created_at) }}</em>
            </ion-text>
          </app-user-avatar>
        </ion-col>

        <ion-col no-padding size="auto">
          <ion-button no-margin margin-right-2 no-padding size="small" fill="clear" color="light" *ngIf="user._id.$oid === post.user_id.$oid" (click)="showPostOptions()">
            <ion-icon name="cog" slot="icon-only"></ion-icon>
          </ion-button>

          <app-like *ngUnless="user._id.$oid === post.user_id.$oid" [likeable]="post" [user]="user" size="large" (decided)="onLikeableDecision($event)" color="light"></app-like>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>

<!-- <preview [body]="post.body"></preview> -->
