<ion-header>
  <ion-navbar>
    <ion-title>
      ''
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ng-container *ngIf="users.length > 0"> -->
    <ion-card *ngFor="let user of users" (tap)="viewUserProfile(user)">
      <ion-grid no-padding>
        <ion-row>
          <ion-col align-self-start>
            <p size-small *ngIf="userIsFollowingMe(user.following)">is following you</p>
          </ion-col>

          <ion-col col-3>
            <user-avatar [user]="user"></user-avatar>
          </ion-col>

          <ion-col align-self-end>
            <button ion-button item-right small>
              <ion-icon [name]="userIsFollowingYou(user.followers) ? 'check' : 'plus'"></ion-icon>
              {{ userIsFollowingYou(user.followers) ? 'Follow' : 'Following' }}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-card-content>
        <h1>{{ user.name }}</h1>
        <span>{{ user.tag }}</span>

        <p text-left>{{ user.bio }}</p>
      </ion-card-content>
    </ion-card>
  <!-- </ng-container> -->

</ion-content>
