<ion-header>
  <ion-navbar>
    <ion-title>Community</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card no-padding *ngFor="let user of users" (tap)="viewProfile(user)">
    <ion-card-content>
      <ion-avatar item-start>
        <user-avatar [user]="user" [size]="small"></user-avatar>
      </ion-avatar>

      <h1>{{ user.name }}</h1>
      <span>@{{ user.username }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let user of users">
    <ion-card-header>

      <ion-grid no-padding>
        <ion-row align-items-end justify-content-center>
          <ion-col *ngUnless="itsaMeMario(user)">
            <p size-small no-margin margin-left margin-bottom>{{ isFollowing(user) ? 'is following you' : '' }}</p>
          </ion-col>

          <ion-col col-auto (tap)="viewProfile(user)">
            <user-avatar [user]="user"></user-avatar>
          </ion-col>

          <ion-col justify-content-end *ngUnless="itsaMeMario(user)">
            <button ion-button small margin-right (tap)="follow(user)">
              <i class="fal fa-{{ imFollowing(user) ? 'check' : 'plus' }}-circle" margin-right_2></i>
              {{ imFollowing(user) ? 'Following' : 'Follow' }}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>

    <ion-card-content (tap)="viewProfile(user)">
      <h1>{{ user.name }}</h1>
      <span>@{{ user.username }}</span>
      <p class="user-bio" text-left>{{ user.bio }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
