<ion-header>
  <ion-toolbar transparent>
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col col-auto>
          <ion-label>
            <button ion-button small icon block outline color="white" (tap)="app.openSideMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-label>
        </ion-col>
        
        <ion-col col>
          <ion-searchbar no-padding-right [(ngModel)]="tag" (ionFocus)="app.showTags()" (ionCancel)="app.setTag(null)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card no-padding *ngFor="let user of users">
    <ion-card-content>

      <ion-grid no-padding>
        <ion-row>
          <ion-col col-auto (tap)="view(user); false">
            <user-avatar [user]="user" size="small"></user-avatar>
          </ion-col>

          <ion-col margin-left>

            <ion-grid no-padding>
              <ion-row>
                <ion-col no-padding (tap)="view(user); false">
                  <h2 no-margin>{{ user.name }}</h2>

                  <ion-grid no-padding>
                    <ion-row align-items-center>
                      <ion-col col-auto no-padding>
                        <span>@{{ user.username }}</span>      
                      </ion-col>
              
                      <ion-col col-auto *ngUnless="currentUser(user) || !isFollowing(user) " margin-left-2>
                        <p size-tiny no-margin badge>Follows you</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>

                <ion-col col-auto margin-left *ngUnless="currentUser(user)">
                  <button ion-button small round no-margin (tap)="follow(user)">
                    <i class="fal fa-{{ imFollowing(user) ? 'check' : 'plus' }}-circle" margin-right-2></i>
                    {{ imFollowing(user) ? 'Following' : 'Follow' }}
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
            
            <ion-row *ngIf="user.bio" margin-top (tap)="view(user); false">
              <p class="user-bio" text-left no-margin>{{ user.bio }}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>
